.c1 {

    background-color: #9B59B6;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 20px 20px 20px 20px;
    height: 85px;

}
.c1 img {

    width: 60px;

}
.c1 h4 {

    color: #ffffff;

}
.c1 .c3 {

    float: right;
    width: 70px;
}
.c1 .c4 {
    width: 30px;
    float: right;
}
.c1 .c5 {
    height: 15px;
    width: 30px;
    float: right;

}
.c1 .c6 {
    width: 30px;
    float: right;
}